{% extends "base.html" %}
{% block header %}
    <ul class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li><br>
    <li class="active">Projects List</li>
    <li><a href="{% url 'create' %}">Add New project</a></li>
    <li><a href="{% url 'post' %}">Show All Posts</a></li>
    </ul>
{% endblock %}
{% block content %}
            <h1>Liste des projets</h1>
            {% if projects_list %}
                <ul>
                    {% for p in projects_list %}
                        {% if p %}
                            <li><a href="{% url 'details' p.id %}">{{ p.nom_du_projet |upper }}</a></li>
                            <li><time datetime="{{ projects_list.created_at }}">Posted: {{projects_list.created_at|date:'Y-m-d'  }}</time></li>
                        {% endif %}
                    {% empty %}
                        <p>Aucun projet n'est disponible!</p>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun projet n'est disponible.</p>
            {% endif %}

{% endblock %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}